@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img id="imagen" src="https://images3.memedroid.com/images/UPLOADED962/609139faea305.jpeg" />
    <br />
    <button class="btn-info" onclick="">Informacion</button>
</div>
